$text-color: rgba(#000, 0.8);
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 3.7rem;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    user-select: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &::first-letter {
        text-transform: uppercase;
    }
    &--red {
        background-color: #ff5a55;
        color: $text-color
    }
    &--light {
        background-color: #fff;
        color: $text-color;
    }
    &--without-text::after {
        margin-left: 0px !important
    }
    &--arrow::after {
        height: .6rem;
        width: .6rem;
        background-color: transparent;
        content: "";
        transform: rotate(45deg);
        box-shadow: inset -1px 1px 0px 1px black;
        margin-left: 8px;
    }
}
