$root-font-size: 14px;
$text-color: rgba(#000, 0.8);
/*
==============================
PAGE 2
=============================
*/

$accent-color: #35e2ff;
$primary-color: #d12337;
$heading-font: "Loew";
$heading-color: lighten(#f3593a, 15%);
$heading-color-light: lighten($heading-color, 10%);
$section-space: 7rem;
$box-shadow-deep: 0px 10px 20px 0px rgba(0, 0, 0, 0.21);
/*
===============================
Font
===============================
 */
