@import "../../styles/mixins";
.about-me {
    width: 80%;
    height: 30rem;
    padding: 2rem 5rem;
    padding-bottom: 0;
    position: relative;
    display: flex;
    background-color: #fff;
    &__col--left {
        position: relative;
        min-height: 100%;
        min-width: 25rem;
        margin-right: 4rem;
    }
    &__row {
        min-width: fit-content;
        position: absolute;
        margin-top: -5rem;
        filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.2));
        box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.05);
    }
    &__title {
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-top: 0.8rem;
        color: $accent-color;
    }
    &__caption {
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0;
        color: rgba($primary-color, 0.9);
        font-family: "Lusitana", serif;
    }
    &__body {
        font-size: 1rem;
        line-height: 1.6rem;
        color: $text-color;
    }
    &__btn {
        background-color: $accent-color;
        color: #fff;
        text-transform: uppercase;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
